Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

There are 5 students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [6]:
n=int(input())
res=[]
grades=[]

for i in range(n):
    names=input()
    marks=float(input())
    res.append([names,marks])
    grades.append(marks)

print(res)
print(grades)

grades=sorted(set(grades))
print(grades)
m=grades[1]
name=[]
for val in res:
    if m==val[1]:
        name.append(val[0])
print(name)
name.sort()
print(name)

for nm in name:
    print(nm)
    
#     5
# Harry
# 37.21
# Berry
# 37.21
# Tina
# 37.2
# Akriti
# 41
# Harsh
# 39

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]
[37.21, 37.21, 37.2, 41.0, 39.0]
[37.2, 37.21, 39.0, 41.0]
['Harry', 'Berry']
['Berry', 'Harry']
Berry
Harry